/* Mobile 화면 디자인 */
@media (max-width: 767px) {
  .nav {
    padding: 13px 32px;
  }

  .main p {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    width: 100%;
  }

  .add-link {
    width: 200px;
    padding: 10px 16px;
  }

  .main {
    padding: 28px 32px 0;
  }

  .main img {
    width: 302.792px;
    height: 178.712px;
  }

  section:not(.main) {
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
    gap: 24px;
    align-items: flex-start;
  }

  section:not(.main) .description h1 {
    font-size: 24px;
    font-weight: 700;
  }

  section:not(.main) .description p {
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    color: var(--Gray6);
  }

  section:not(.main) img {
    width: 100%;
    height: 100%;
  }

  br.mobileNone {
    display: none;
  }

  .footer {
    margin-top: 81px;
    position: relative;
    padding: 32px 32px 64px;
    height: 160px;
  }

  .corp {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }
}
