/* mobile */
.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  width: 325px;
  gap: 6px;
  padding: 13px 16px;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
}

.searchInput {
  background: transparent;
  width: 100%;
}

/* tablet */
@media screen and (min-width: 767px) {
  .container {
    margin: 40px 0px;
    padding: 0px 32.5px;
  }

  .searchBar {
    width: 100%;
    gap: 10px;
  }
}

/* web */
@media screen and (min-width: 1028px) {
}
