.container {
  display: flex;
  padding: 6px 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: #fff;
}

.select {
  display: flex;
  padding: 6px 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-primary-color, #6d6afe);
  color: #fff;
}
