/* mobile */
.container {
  padding: 24px 32px 40px;
  background: var(--Linkbrary-bg, #f0f6ff);
}

.addLinkBar {
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
  display: flex;
  gap: 8px;
  padding: 8px 10px;
  justify-content: space-between;
}

.addLinkInput {
  cursor: pointer;
}

.wrap {
  display: flex;
  gap: 10px;
}

.addBtn {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );

  color: var(--Grey-Light, #f5f5f5);
  font-size: 14px;
  font-weight: 600;
}

/* tablet */
@media screen and (min-width: 767px) {
  .container {
    padding: 60px 32.5px 90px;
  }

  .addLinkBar {
    width: 100%;
    padding: 16px 20px;
  }
}

/* web */
@media screen and (min-width: 1028px) {
}
