.container {
  margin-top: 28px;
  width: 100%;
}

.folderName {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.2px;
}

.optionBtn {
  display: flex;
  margin-top: 12px;
  gap: 12px;
}

.optionBtn > button {
  display: flex;
  align-items: center;
  gap: 4px;
}

.optionBtn > button > p {
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-size: 14px;
  font-weight: 600;
}

.linkList {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.notFoundLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
  padding: 41px 0px 35px;
}

.notFoundLink > p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media (min-width: 767px) {
  .optionBtn {
    display: none;
  }

  .linkList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (min-width: 1028px) {
  .linkList {
    grid-template-columns: repeat(3, 1fr);
  }
}
