.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  gap: 4px;
  border-radius: 20px;
  border: 1px solid var(--Linkbrary-white, #fff);
  background: var(--Linkbrary-primary-color, #6d6afe);

  position: fixed;
  bottom: 101px;
  left: 50%;
  transform: translate(-50%, 0);

  cursor: pointer;
}

.wrap > p {
  color: var(--Linkbrary-gray10, #e7effb);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

/* Tablet */
@media (min-width: 767px) {
  .wrap {
    display: none;
  }
}

/* Web */
@media (min-width: 1028px) {
  .wrap {
    display: none;
  }
}
