/* Table 화면 디자인*/
@media (max-width: 1199px) {
  .nav {
    padding: 20px 32px;
  }

  .mobileOnly {
    display: none;
  }

  .mainImg {
    width: 650.303px;
    height: 383.114px;
  }

  section:not(.main) {
    padding: 80px 0 50px;
    gap: 51px;
  }

  section:not(.main) img {
    width: 385px;
    height: 315px;
  }
}
